.quiz {
  width: 100%;
}

.quizBox {
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-l);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Header */

.header {
  background-color: var(--color-primary-dark);
  border-radius: 20px 20px 0 0;
  color: var(--color-gray-light);
  padding: var(--space-m);
  width: 100%;
}

@media screen and (min-width: 56rem) {
  .header {
    padding: var(--space-l);
  }
}

.questionCount {
  color: var(--color-gray-light);
  font-size: 1rem;
  line-height: var(--line-height-dense);
  margin: 0;
  text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

/* Q&A group */
.qa {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 54rem) {
  .qa {
    flex-direction: column;
  }
}

/* Question section */

.questionSection {
  padding: var(--space-s);
  width: 100%;
}

@media screen and (min-width: 56rem) {
  .questionSection {
    padding: var(--space-l);
  }

  .questionCurrent {
    font-size: var(--font-l);
    padding-right: .1em;
  }  
}

/* Question section */

.questionText {
  font-size: var(--font-m);
  font-weight: bold;
  line-height: var(--line-height-normal);
}

@media screen and (min-width: 56rem) {
  .questionText {
    font-size: var(--font-l);
    line-height: var(--line-height-dense);
  }
}

.questionImage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-m);
  padding: var(--space-s);
  width: auto;
}

.timerText {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}


/* Answer Section */

.answerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-l);
  width: 100%;
}

.answerSection button {
  margin: var(--space-xs) 0 var(--space-xs) 0;
}

.correct {
  background-color: var(--color-correct);
}

.wrong {
  background-color: var(--color-wrong);
}


/* Score */

.scoreSection {
  display: flex;
  font-size: var(--font-l);
  align-items: center;
}

.result {
  padding: var(--space-m);
  width: 100%;
}

@media screen and (min-width: 56rem) {
  .result {
    padding: var(--space-l);
  }
}
